nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #30303085; 
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #000000;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('img/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .description {
    border: 2px solid #00ff00; 
    padding: 20px;
    font-family: 'Roboto Mono', monospace; 
    color: #dddddd;
  }

  .image-link {
    display: inline-block;
    text-decoration: none; 
  }
  
  .image-link img {
    display: block;
    margin: 0 auto;
  }
  
  .description {
    margin-top: 10px;
    font-size: 14px; 
  }